<h2 class="mat-h2">Transacciones riesgosas</h2>
<h3 class="mat-h3">Consultar las probabilidades de que una transacción sea fraudulenta</h3>
<form #form="ngForm" id="form" novalidate>
<div class="example-container">
    <div class='caption'>Cuentas</div>
    <div fxLayoutAlign="center" fxLayoutGap="40px">
       <mat-form-field>
           <input matInput 
           [(ngModel)]="form.accounts" #name="ngModel"
           name="form.accounts"
           placeholder="Cantidad de cuentas" 
           type="number" 
           class="example-right-align"
           required
           >
         </mat-form-field>
     <mat-form-field>
         <input matInput 
         [(ngModel)]="form.amount" #name="ngModel"
         name="amount"
         placeholder="Monto total" 
         type="number" 
         class="example-right-align"
         required
         >
         <span matPrefix>$&nbsp;</span>
         <span matSuffix>.00</span>
       </mat-form-field>
     </div>
  <div class='caption'>Transacciones</div>
   <div fxLayoutAlign="center" fxLayoutGap="40px">
      <mat-form-field>
          <input matInput 
         [(ngModel)]="form.transactions" #name="ngModel"
          name="transactions"
          placeholder="Cantidad de transacciones" 
          type="number" 
          class="example-right-align"
          required
          >
        </mat-form-field>
    <mat-form-field>
        <input matInput 
        [(ngModel)]="form.transactionTotalAmounts" #name="ngModel"
        name="transactionTotalAmounts"
        placeholder="Monto transferido" 
        type="number" 
        class="example-right-align"
        required>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>

    <div class='caption'>Ubicación geográfica</div>
    <div fxLayoutAlign="center" fxLayoutGap="40px">
       <mat-form-field>
           <input matInput 
        [(ngModel)]="form.lat" #name="ngModel"
        name="lat"
           placeholder="Latitud" 
           type="number" 
           class="example-right-align"
           required
           >
         </mat-form-field>
         <mat-form-field>
            <input matInput 
        [(ngModel)]="form.lng" #name="ngModel"
            name="lng"
            placeholder="Longitud" 
            type="number" 
            class="example-right-align"
            required
            >
          </mat-form-field>
     </div>

     <div class='caption'>Otros datos</div>
     <div fxLayoutAlign="center" fxLayoutGap="40px">
        <mat-form-field>
            <input matInput 
        [(ngModel)]="form.rewards" #name="ngModel"
            name="rewards"
            required
            placeholder="Rewards" 
            type="number" 
            class="example-right-align">
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Género" required>
                <mat-option value="option">Femenino</mat-option>
                <mat-option value="option">Masculino</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
</div>
<div>
  <button type="submit" mat-raised-button color="primary" (click)="form.valid && consultarFactibilidad(form)">Consultar</button>
</div>
</form>