<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<div style="text-align:center">
  <mat-toolbar color="primary">

     <h3><mat-icon>toys</mat-icon></h3> &nbsp;
    <span routerLink=".">    Machine learning playground
     </span>
  </mat-toolbar>
  <section class="mat-typography">
<router-outlet></router-outlet>
</section>