<h2 mat-dialog-title> {{data.titulo}} </h2>
<mat-dialog-actions>
  <button mat-icon-button (click)="showInfo(tx)">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button (click)="showInfo(tx)">
    <mat-icon>details</mat-icon>
  </button>
  <button mat-icon-button (click)="showInfo(tx)">
    <mat-icon>phone</mat-icon>
  </button>
  <button mat-icon-button (click)="showInfo(tx)">
    <mat-icon>info</mat-icon>
  </button>
</mat-dialog-actions>
<mat-dialog-content>
  <h2 class="mat-h2">{{data.titulo}}</h2>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-icon-button (click)="showInfo(tx)">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button (click)="showInfo(tx)">
      <mat-icon>details</mat-icon>
    </button>
    <button mat-icon-button (click)="showInfo(tx)">
      <mat-icon>phone</mat-icon>
    </button>
    <button mat-icon-button (click)="showInfo(tx)">
      <mat-icon>info</mat-icon>
    </button>
  </mat-dialog-actions>