<h2 class="mat-h2">Aplicaciones</h2>

<div class="container" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="30px">
    <app-dashboard-card [data]="card0"></app-dashboard-card>
    <app-dashboard-card [data]="card1"></app-dashboard-card>
</div>
<br/>
<div class="container" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="30px">
    <app-dashboard-card [data]="card2"></app-dashboard-card>
    <app-dashboard-card [data]="card3"></app-dashboard-card>
</div>
<br/>
<div class="container" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="30px">
    <app-dashboard-card [data]="card4"></app-dashboard-card>
    <app-dashboard-card [data]="card5"></app-dashboard-card>
</div>