<mat-list color="primary" class="transacciones-lista">
  <h3 mat-subheader>Listado de transacciones detectadas</h3>
  <mat-list-item *ngFor="let tx of data">
    <mat-icon mat-list-icon>swap_vertical_circle</mat-icon>
    <h3 mat-line class="list-title">{{tx.description}}</h3>
    <p mat-line> {{ tx.transaction_Date | date:'short' }} </p>
    <button mat-icon-button (click)="showInfo(tx)">
      <mat-icon>info</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>